html{
	width:100%; 
	height:100%;
/*	background-image: url("../styles/fondo1.jpg");
*/	background-color: dimgrey;
	background-size: 100% 100%;
}
body{
	width:100%;
}

.main-container {
    max-width: 100%;
	padding: 1em;
}
.view-main {
/*    border: 1px solid #cc00cc;
*/    padding: 1em;
}

#main-header {
	font-family: georgia, serif;
    color: #080808;
    /* background-color: #E0BFBF; */
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6.6pt;
    word-spacing: -6.6pt;
    line-height: 1.2;
    padding: 1em;
}

#main-footer {
    text-align: center;
    margin: 0.5em;
    padding:0.2em;
	  border-top: 3px solid darkgrey;
}


.list-card {
    display: inline-block;
    text-align: center;
    cursor: pointer;
	  justify-content:center
}

#show-card {
    width:100px;
    height: 200px;

}
.win {
  text-align: center;
	font-family: Georgia;
	font-size: 60px;
  color: yellow;
}
.avatarSize{
	width:80px;
    height: 80px;
}
#show-card1 {
    width:50px;
    height: 50px;
}
.card-center {
  display: block;
  margin: 5% 25%;
}
.pos-right{
	text-align: right;
	font-family: Georgia;
	font-size: 20px;
	margin: 0px 50px;
}
.box-center {
  background-color: pink;
  padding: 10px;
  margin: 10px;
  /* IMPORTANTE */
  display: inline-block;
}

.box-center2 {
  display: block;
  margin: .5em 0 0 0;
}

.btn-center{
	text-align:center;
}
/*decoracion de botones*/
.btn {
  background: #9e396a;
  background-image: -webkit-linear-gradient(top, #9e396a, #5c6c75);
  background-image: -moz-linear-gradient(top, #9e396a, #5c6c75);
  background-image: -ms-linear-gradient(top, #9e396a, #5c6c75);
  background-image: -o-linear-gradient(top, #9e396a, #5c6c75);
  background-image: linear-gradient(to bottom, #9e396a, #5c6c75);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #36a6eb;
  background-image: -webkit-linear-gradient(top, #36a6eb, #3498db);
  background-image: -moz-linear-gradient(top, #36a6eb, #3498db);
  background-image: -ms-linear-gradient(top, #36a6eb, #3498db);
  background-image: -o-linear-gradient(top, #36a6eb, #3498db);
  background-image: linear-gradient(to bottom, #36a6eb, #3498db);
  text-decoration: none;
}

/*FOOTER*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.body-footer {
  padding: 3em 2em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  background: #333333;
}
.credit {
  display: block;
  max-width: 400px;
  text-align: center;
  padding: 0;
  font-size: 0.8em;
  color: #888888;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.credit p a,
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.credit p a:hover,
.credit a:hover,
.credit p a:active,
.credit a:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  color: white;
}
.credit p a.button,
.credit a.button {
  padding: 6px 12px;
  margin-top: 10px;
  background: #1a1a1a;
  border-radius: 3px;
}
.credit p a.button:hover,
.credit a.button:hover {
  background: #4d4d4d;
}
.credit p:last-of-type {
  margin-bottom: 30px;
}
section {
  max-width: 175px;
  margin: 0 auto;
  display: block;
  padding: 2em;
  width: 100%;
}

/*animation*/
.dtl22 {
    width: 100%;
    position: relative;
   /* -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);*/
}
.dtl22 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.dtl22 .dtl {
   /* background: #333;*/
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 0 15px;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*
.dtl22 .dtl a:active {
    background: #e6e6e6;
    border: 1px solid #adadad;
}*/
.dtl22:active .dtl {
    visibility: visible;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
}